{% extends 'base.html.twig' %}

{% block title %}AgenceImmobilière{% endblock %}

{% block body %}

<div class="text-center">
  <div class="container">
   <h1>les dernier biens</h1>
   <div class="row-flex">
    {% for property in properties %}
    <div class="col_3">
    <div class="card">
    <div class ="card-body">
    <h5 class="card-tilte">
     <a href="{{path('property.show',{id:property.id, slug:property.slug})}}" style="font-weight:bold;font-size:2rem">{{property.title}}</a>
    </h5>
    <p class ="card-text" style="font-weight:bold;font-size:2rem">{{property.city}}({{property.postalCode}})</p>
    <p class ="text-primary" style ="font-weight:bold ;font-size:2rem">{{property.formattedPrice}}F</p>
    </div>
    </div>
   </div>
   {% endfor %}
  </div>
  </div>
</div>
{% endblock %}
