<div class="container mt-4">
 {{ form_start(form) }}
    {{ form_widget(form) }}
    <br/>
    <tr>
    <td>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {# <a href="{{ path('option_index') }}" class="btn btn-secondary"style="display:inline-block" >listes options</a> #}
    <td>
    </tr>
    </div>
{{ form_end(form) }}

</div>